.pTecnica {
    font-size: 20px;
}

.lDisponibles {
    font-size: 20px;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 30%;
}

.cantidad {
    font-size: 25px;
    margin-right: 5%;
}

.bookContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    position: absolute;
    top: 23%;
    width: 55%;
    left: 5%;
    background: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 11px lightgray;
}
.column {
    text-align: center;
}

.img {
    width: 40%;
}

.lectureContainer {
    position: relative;
    width: 25%;
    height: 70%;
    background: slategray;
    bottom: 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    border: 0.1px solid white;
    left: 68%;
    top: 90px;
}

.title {
    position: relative;
    left: 5%;
}

.listLecture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.mat-snack-bar-container {
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto si es necesario */
    border-radius: 8px; /* Agrega bordes redondeados si lo deseas */
    /* Otros estilos CSS según tus preferencias */
  }
  

  .close {
    position: relative;
    border-radius: 100%;
    left: 64%;
    top: 7px;
    display: flex;
    background: red;
    color: white;
    border: none;
    box-shadow: 0px 1px 3px black;
  }